@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Tangerine:100,200,300,400,500,600,700');

/*-- Colors--*/
.navbar a{
    color: rgb(190, 186, 186);

}
.logo{
    color: rgb(239, 206, 225);
}

h2.display-4{
     color: rgb(190, 186, 186);

}

.book-button{
  color: rgb(190, 186, 186);  
}


.about-us-heading {
 color: rgb(87, 84, 84);
}


.about-us-paragraph{
color: rgb(87, 84, 84);
}

.services{
color: rgb(87, 84, 84);
}


.container-services{
    color: rgb(87, 84, 84);
}
.book-appointment-form {
color: rgb(87, 84, 84);
}
.book-appointment{
color: rgb(87, 84, 84);
}
.payment{
color: rgb(87, 84, 84);
}
/*-- logo/navbar--*/
 .au-naturale-logo{
     text-align: center;
 }
.logo {
    font-family: "Tangerine", sans-serif;
    text-decoration: none;
    font-size: 100px;
    margin: auto;

    
}
.navbar {
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    text-decoration:none;
    letter-spacing: 4px;

}
.nav-item a {
    word-spacing: -0.1cm;
}


/*-- jumbotron/crossfading images--*/


.love-your-fro{
  
   font-family: "Roboto",sans-serif;
   font-weight: 400;
    font-size: 4.7em;
    display: block;
    position: relative;
}

.book-button{
    font-size: 3em;
    position: absolute;
    bottom: 7% ;
    left: 55%;
    font-family: "Roboto", sans-serif;
    width: 350px;
    background-color: transparent;
    border-color: transparent;

}

.image-1{

    width: 100%;

}
               


/*-- jumotron media query --*/


/*-- abouts us--*/

.about-us-heading {
    text-align: center;
    line-height: 2;
    font-weight: 500;
    text-shadow: 0px 1px 20px rgb(165, 164, 164);
    font-size: 3rem;
    padding-bottom: 50px;
    
}

.about-us-paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: larger;
}

.about-us-image{
    width: 100%;
    
}
/*-- services--*/
.services {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    text-shadow: 0px 1px 20px rgb(165, 164, 164);

}

.wash-n-go-heading {
    text-align: center;
    
}
.wash-n-go-price{
    padding-left: 80px;
    font-size: 1.5rem;
}

.container-services{
    font-family: "Roboto", sans-serif;

}
.container-services p {
    margin-top: 0;
    text-align: justify;
}
.row-services-1{
    margin-bottom: 5px;
}
.row-services-3{
    margin-bottom: 5px;
}
.row-services-2 {
    margin-bottom: 5px;
}

.deep-condition-heading {
    text-align: center;
}

.deep-condition-price{
    
    font-size: 1.5rem;
    padding-left: 50px;
}

.clay-mask-treatment-heading {
    text-align: center;
    padding-right: 30px;
}

.clay-mask-treatment-price {
    font-size: 1.5rem;
    padding-left: 50px;
}

.twists-out-heading {
    text-align: center;
    padding-left: 40px;
}
.twists-out-price {
    font-size: 1.5rem;
    padding-left: 70px;
}

.hair-trim-heading {
    text-align: center;
    padding-right: 30px;
}

.hair-trim-price {
    font-size: 1.5rem;
    padding-left: 60px;
}

.the-big-chop-heading {
    text-align: center;
    padding-left: 30px;
}

.the-big-chop-price {
    font-size: 1.5rem;
    padding-left: 50px;
}
/*-- book appointments--*/


/*-- images--*/
.afro-women {
    width: 100%;;
}

.bald-women {
    width: 100%;
}

.afro-style {
    width: 100%;
   
}

.afro-hair {
    width: 100%;
  
    
}

.image-section{
padding-top: 70px}

/*-- contact us--*/