@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Tangerine:100,200,300,400,500,600,700');

/*-- Colors--*/
.navbar a{
    color: rgb(190, 186, 186);

}
.logo{
    color: rgb(239, 206, 225);
}

h2.display-4{
     color: rgb(190, 186, 186);

}

.book-button{
  color: rgb(190, 186, 186);  
}


.about-us-heading {
 color: rgb(87, 84, 84);
}


.about-us-paragraph{
color: rgb(87, 84, 84);
}

.services{
color: rgb(87, 84, 84);
}


.container-services{
    color: rgb(87, 84, 84);
}
/*-- logo/navbar--*/

.logo {
    font-family: "Tangerine", sans-serif;
    text-decoration: none;
    font-size: 100px;
    padding-left:400px;

    
}
.navbar {
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    text-decoration:none;
  letter-spacing: 4px;

}

/*-- jumbotron/crossfading images--*/

.styling{
    background-color:;
    width: 800px;
    align-content: center;
    position: relative;
    margin-left:126px;

}

h2.display-4{
   padding-left: 150px;
   font-family: "Roboto",sans-serif;
   font-weight: 400;
    font-size: 4.7em;
    display: block;
    position: relative;
    bottom: 300px;
    left: 150px;
}

.book-button{
    font-size: 3em;
    position: absolute;
    bottom: 230px;
    left: 150px;
    font-family: "Roboto", sans-serif;
    width: 743px;
    background-color: transparent;
    border-color: transparent;
}

/*-- jumotron media query --*/
/*--.book-button{

}--*/

/*-- abouts us--*/

.about-us-heading {
    text-align: center;
    line-height: 2;
    font-weight: 500;
    text-shadow: 0px 1px 20px rgb(165, 164, 164);
    font-size: 3rem;
    padding-bottom: 50px;
    
}

.about-us-paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: larger;
}

.about-us-image{
    height: fit-content;
    width: 600px;
    
}
/*-- services--*/
.services {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    text-shadow: 0px 1px 20px rgb(165, 164, 164);

}

.wash-n-go-heading {
    text-align: center;
    
}
.wash-n-go-price{
    padding-left: 80px;
    font-size: 1.5rem;
}

.container-services{
    font-family: "Roboto", sans-serif;

}
.container-services p {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: justify;
}
.row-services-1{
    margin-bottom: 5px;
}
.row-services-3{
    margin-bottom: 5px;
}
.row-services-2 {
    margin-bottom: 5px;
}


/*-- book appointments--*/
/*-- images--*/
/*-- contact us--*/