@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Tangerine:100,200,300,400,500,600,700');

/*-- Colors--*/
.navbar a{
    color: rgb(190, 186, 186);

}
.logo{
    color: rgb(239, 206, 225);
}

h2.display-4{
     color: rgb(190, 186, 186);

}

.book-button{
  color: rgb(190, 186, 186);  
}

/*-- logo/navbar--*/

.logo {
    font-family: "Tangerine", sans-serif;
    text-decoration: none;
    font-size: 100px;
    padding-left:400px;

    
}
.navbar a{
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    text-decoration:none;
  letter-spacing: 4px;

}

/*-- jumbotron/crossfading images--*/

.styling{
    background-color:;
    width: 800px;
    align-content: center;
    position: relative;

}

h2.display-4{
   padding-left: 300px;
   font-family: "Roboto",sans-serif;
   font-weight: 400;
    font-size: 4.7em;
    display: block;
    margin: auto;
    position: relative;
    bottom: 300px;
    left: 150px;
}

.book-button{
    font-size: 3em;
    padding-left: 425px;
    position: absolute;
    bottom: 230px;
    left: 150px;
    font-family: "Roboto", sans-serif;
}

/*-- jumotron media query --*/
/*--.book-button{

}--*/

/*-- abouts us--*/