@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Tangerine:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

/*-- Colors--*/
.navbar a{
    color: rgb(190, 186, 186);

}
.logo{
    color: rgba(255, 180, 223, 0.78);
}

.love-your-fro{
 color: rgba(208, 153, 134, 0.93);
}

h2.display-4{
     color: rgb(190, 186, 186);

}

.book-button{
 color: rgba(247, 239, 239, 0.58);  
}


.about-us-heading {
 color:rgba(74, 41, 55, 0.35);
}



.about-us-paragraph{
color: rgb(87, 84, 84);
}

.services{
color:rgba(74, 41, 55, 0.35);
}


.container-services{
    color: whitesmoke;
}
.book-appointment-form {
color: rgb(87, 84, 84);
}
.book-appointment{
color:rgba(74, 41, 55, 0.35);
}

.payment em {
 color:    rgb(87, 84, 84);
}

.contact-us{
    color:rgba(74, 41, 55, 0.35);
}
.salon-hours{
     color: rgb(87, 84, 84);
}

.time-list{ 
    color:rgb(87, 84, 84);}

    .contact-details h3{
        color:rgb(87, 84, 84);
    }

.contact-details p{
        color:rgb(87, 84, 84);
    }

.container-footer{
    background-color: pink
}

.address-footer{
     color:rgb(87, 84, 84);
}

/*-- logo/navbar--*/
 .au-naturale-logo{
     text-align: center;
 }


 /*-- au-naturale-logo hover bootstrap override--*/
a:hover {
    color: rgba(255, 180, 223, 0.78);
    text-decoration:none;
}

.logo {
    font-family: "Tangerine", sans-serif;
    text-decoration: none;
    font-size: 70px;
    margin: auto;    
}

.love-your-fro {
    font-family: "Tangerine", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    position: absolute;
    align-items: center;
    text-align: center;
    left: 35%;
    text-decoration: overline;
}




a:not([href]):hover {
    color: rgba(208, 153, 134, 0.93);
    text-decoration: overline;
}



.navbar {
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    text-decoration:none;
    letter-spacing: 4px;
    margin-top: 4rem;

   
}
.nav-item a {
    word-spacing: -0.1cm;
    text-align: center;
}


/*-- jumbotron/crossfading images--*/


.book-button{
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    border-color: transparent;
    margin: auto;
    position: relative;
    float: right;
    top: 30%;

}
/*  book button hover Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

#Jumbotron-background-image{
    

}

    .Jumbotron { 

     width: 100%;
    height: 500px;


  background: url(../images/Optimized-black-purple.jpeg) no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}           

/*-- abouts us--*/

.about-us-heading {
    font-family: "lato",sans-serif;
    text-align: center;
    line-height: 2;
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 30px;
    margin-top: 30px;
    
}

.about-us-paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: larger;
    text-align: justify
}

@media (min-width: 1200px) { 
    
    .about-us-paragraph{
    
    font-size: 27px; }
    
    }

    @media (min-width: 768px) and (max-width: 991.98px) { 
        .about-us-paragraph{
            font-size: 16px;
        }
        
     }

     @media (min-width: 992px) and (max-width: 1199.98px) { 
         .about-us-paragraph{
             font-size: 21px;
         }
      }


.about-us-image{

width: 100%;
    
}
/*-- services--*/

#overlay {
  
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#6112264d; 
  z-index: 2; 
  cursor: pointer; 
}

.services {
    font-family: "lato", sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 35px;
    
}

#container-background-image{ 
  background: url(../images/Optimized-black-pink.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container-services{
    font-family: "Roboto", sans-serif;

}

.container-services h3 span{
font-size: 1.5rem;
float: right;
}

.container-services p {
    margin-top: 0;
    text-align: justify;
}


/*-- book appointments--*/

.book-appointment{
    font-family: "lato",sans-serif;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

label{
padding-left: 5px;
}

.book-appointment-button{
    position: relative;
    left: 45%;
    background-color: pink;
    border-color: pink;
    color: #f5f5f5e8;
}

 .book-appointment-button:hover {
    color: #fff;
    background-color: #d29da6d1;
    border-color: #d29da6d1;
}


/*-- images--*/
.container-images{
background-color: pink;
}

.container-images img{
     width: 100%;
     margin-bottom: 30px;
     margin-top: 30px;
}

.image-section{
padding-top: 70px}

/*-- contact us--*/



.contact-us{
    font-family: "lato", sans-serif;
    font-size: 3rem;
    margin: 50px;
}


.salon-hours{
    font-family: "lato",sans-serif;
    text-align: center;
}


.time-list{
    list-style: none;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;}

.salon-picture{
    width: 100%;
    margin-top: 30px;
    font-weight: 450
}


.contact-details h3 {
   
    font-family: "lato",sans-serif;
    margin-top: 20px;
}

.telephone-number {
    font-size: 1.25rem;
    font-family: "Roboto",sans-serif;

}

.address-paragraph {
    white-space: pre-line;
    font-family: "Roboto",sans-serif;
}

 .map {
    position: relative;
    left: 5%;
    margin-top: 20px;
}

@media (min-width: 1200px) { 
    
    .map{
    
    left: 30% }
    
    }

/*--footer--*/

.container-footer{
    background-color: pink
}


.address-footer {
    white-space: pre-line;
}
