@import url('https://fonts.googleapis.com/css?family=Abel:100,200,300,400,500,600,700|Tangerine:100,200,300,400,500,600,700');

/*-- logo/navbar--*/

.logo {
    font-family: "Tangerine", sans-serif;
    text-decoration: none;
    font-size: 100px;
    color: rgb(239, 206, 225);
    padding-left:400px;

    
}
.navbar a{
    font-family: "Abel",sans-serif;
    font-size: 40px;
    color: rgb(190, 186, 186);
    text-decoration:none;
  letter-spacing: 4px;

}

/*-- jumbotron/crossfading images--*/

.jumbotron-fluid{
    background-color: pink;
}

h2.display-4 {
    padding-left: 300px;
    font-size: 4.5em;
    display:block;
    margin: auto;
} 