@import url('https://fonts.googleapis.com/css?family=Abel:100,200,300,400,500,600,700|Tangerine:100,200,300,400,500,600,700');

/*-- Colors--*/
.navbar a{
    color: rgb(190, 186, 186);

}
.logo{
    color: rgb(239, 206, 225);
}

h2.display-4{
     color: rgb(190, 186, 186);

}


/*-- logo/navbar--*/

.logo {
    font-family: "Tangerine", sans-serif;
    text-decoration: none;
    font-size: 100px;
    padding-left:400px;

    
}
.navbar a{
    font-family: "Abel",sans-serif;
    font-size: 40px;
    text-decoration:none;
  letter-spacing: 4px;

}

/*-- jumbotron/crossfading images--*/

.styling{
    background-color:blueviolet;
    width: 800px;
    margin-left: 250x;
    align-content: center;
    border-top: 30%;
    position: relative;

}

h2.display-4{
   padding-left: 300px;
   font-family: "Abel",sans-serif;
    font-size: 4.7em;
    display: block;
    margin: auto;
    position: relative;
    bottom: 300px;
    left: 150px;
}

.book-button{
    font-size: 3em;
    color: black;
    padding-left: 425px;
}